<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiosk</title>
  </head>
  <style>
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    ul li {
      list-style: none;
    }

    i {
      color: #adff2f;
    }
  </style>
  <body>
    <div class="container">
      <h2>Users</h2>
      <ul>
        <% let x = 1 %> <% for(user of temporaryDb) { %>
        <i><h4><%= x %></h4></i>
        <li><strong>Name: </strong><%= user.userName %></li>
        <li><strong>Display Name: </strong><%= user.displayName %></li>
        <% x++ %>
        <br />
        <% } %>
      </ul>
    </div>
  </body>
</html>
